{% extends '::base.html.twig' %}

{% block body -%}
    <h1>All articles</h1>

    <section class="row">
        {% for article in articles %}
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <figure>
                    <img src="{{ article.picture|default(asset('bundles/app/img/default-article.jpg')) }}" alt="{{ article.title }}" class="img-responsive">
                    <figcaption>
                        <h1>{{ article.title }}</h1>
                    </figcaption>
                </figure>

                <p>{{ article.date|date('F jS, Y') }}</p>
                <p>{{ article.content | truncate(200, true, ' [...]') }}</p>

                <aside class="btn-group" role="group">
                    <a class="btn btn-primary" href="{{ url('article_show', {'id': article.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> Show</a>
                </aside>
            </article>
        {% endfor %}
    </section>
{% endblock %}
